[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
black = "==19.10b0"
setuptools = "*"
Pipenv-Setup = "*"

[packages]
pyenchant = "*"

[requires]
python_version = "3.7"
